.crd{
    background-image: url('https://cdn.wallpapersafari.com/18/26/BNc2M4.jpg');
    /* background-position: auto; */
    background-size: cover;
    overflow-y: auto;
    filter: drop-shadow(0px 8px 2px #3726f1);
    animation: myAnim 2s ease-in-out 0s 1 normal none;
   
}



@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}


